@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

.footer {
  width: 100%;
  margin: 0; 
  background-color: rgb(9, 73, 121); 
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.logospan {
    font-family: "Bungee Spice", "cursive";
    font-size: 1.7rem;
  }

.autor {
    display: flex; 
    align-items: center;  
    gap: 1rem;    
    color: #eee;
}

.hyper {
    text-decoration: none;
    color: #eee;
    font-size: 1.2rem;
    font-weight: 500;
}


@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    line-height: 0.5rem;
    padding-bottom: 0.5rem;
  }  

  .autor {
    font-size: 0.8rem;
  }

  .hyper {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) {
 .autor {
  flex-direction: column;
  gap: 0;
 }

 .logospan {
  font-size: 1.2rem;
 }
}

@media only screen and (max-width: 576px) {
  .autor {
    font-size: 0.7rem;
  }

  .hyper {
    font-size: 0.8rem;
  }
}
